<ion-header>
    <ion-navbar>
        <ion-title>
            Documents
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <div *ngFor="let key of keys">
            <ion-item-divider>
                {{ key }}
            </ion-item-divider>
            <button ion-item text-wrap *ngFor="let document of documents[key]" (click)="showDocument(document.id)">
                {{ document.name }}
            </button>
        </div>
    </ion-list>
</ion-content>
