<ion-header>
    <ion-navbar>
        <ion-title>
            Documents
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <canvas id="doc-canvas"></canvas>
    <ion-card>
        <div *ngFor="let key of keys">
            <ion-card-header>
                <h2>{{ key }}</h2>
            </ion-card-header>
            <ion-list>
                <a ion-item text-wrap *ngFor="let document of documents[key]" (click)="showDocument(document.id)">
                    <ion-icon name="document"></ion-icon> {{ document.name }}
                </a>
            </ion-list> 
        </div>
    </ion-card>
</ion-content>
