page-contacts {
	.card {
	    padding: 0.5rem;
	    margin-bottom: 1rem;
  	}

  	.contact-information {
    	margin-bottom: 0.5rem;
		overflow: inherit;
		font-size: 1.4rem;
		line-height: normal;
		text-overflow: inherit;
		color: #666;
	   }

	.contact-title {
		margin-bottom: 0.5rem;
		font-weight: 500;
	}

  	.card-title {
	      font-size: 1.5rem;
	      font-weight: 700;
	      display: flex;
	      flex-wrap: wrap;
	      margin-top: 0.5rem;
	      margin-bottom: 0.5rem;
	      /*margin-bottom: 1rem;
	      padding-bottom: 0.5rem;
	      border-bottom: #f4f4f4 dashed 0.25rem;*/
	    }
}
