<ion-header>
  <ion-navbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>person</ion-list-header>
    <a ion-item *ngFor="let contact of contacts" (click)="showContact(contact.id)">
      <ion-avatar item-start *ngIf="contact.image">
        <img src="data/assets/{{ contact.image }}">
      </ion-avatar>
      <h2>{{ contact.name }}</h2>
      <p><strong>{{ contact.title }}</strong><br>
        {{ contact.telephone }}</p>

      <ion-icon name="arrow-forward" item-end></ion-icon>
    </a>
  </ion-list>
</ion-content>
