<ion-header>
    <ion-navbar>
        <ion-title>
            Contacts
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-card *ngFor="let contact of contacts" (click)="showContact(contact.id)">
        <ion-item>
            <ion-avatar item-start *ngIf="contact.image;else elseBlock">
                <img src="data/assets/{{ contact.image }}">
            </ion-avatar>
            <ng-template #elseBlock>
                <ion-icon name="contact" item-start></ion-icon>
            </ng-template>     
            <span class="card-title">{{ contact.name }}</span>
            <p class="contact-title">{{ contact.title }}</p>
            <p class="contact-information" *ngIf="contact.telephone != null"><ion-icon name="ios-call-outline"></ion-icon> {{ contact.telephone }}</p>
        </ion-item>
    </ion-card>
   <!-- <ion-card>
        <ion-list>
            <a ion-item *ngFor="let contact of contacts" (click)="showContact(contact.id)">

                <ion-avatar item-start *ngIf="contact.image;else elseBlock">
                    <img src="{{ globals.dataDirectory }}data/assets/{{ contact.image }}">
                </ion-avatar>
                <ng-template #elseBlock>
                    <ion-icon name="contact" item-start></ion-icon>
                </ng-template>

                <h4>{{ contact.name }}</h4>
                <p><strong>{{ contact.title }}</strong><br>
                    {{ contact.telephone }}</p>
            </a>
        </ion-list>
    </ion-card>-->
</ion-content>
