page-event { 
  .event-details .card-header h2 {
    color: #aaa !important;
  }
  .participants {
    list-style-type: none;
    padding: 0;
  }

  .card {
  	padding: 1.5rem;

  	.card-title {
      	display: flex;
      	flex-wrap: wrap;
      	justify-content: left;
      	margin-top: 1rem;
      	margin-bottom: 1rem;
      	padding-bottom: 1.5rem;
      	border-bottom: #f4f4f4 dashed 0.25rem;
      	color: #000 !important;
    }

	.card-header {
		color: #000 !important;
	}
  }

  	.contact-name {
  		color: #000 !important;
  	}

    .contact-information {
    	margin-bottom: 0.5rem;
		overflow: inherit;
		font-size: 1.4rem;
		line-height: normal;
		text-overflow: inherit;
		color: #666;
	}

	.contact-title {
		margin-bottom: 0.5rem;
		font-weight: 500;
	}
}
