<ion-header>
    <ion-navbar>
        <ion-title *ngIf="event">{{ event.title }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="event">
        <ion-card>
            <ion-card-header>
                <h2>{{ event.time_from }}<span *ngIf="event.time_to"> - {{ event.time_to }}</span></h2>
            </ion-card-header>
            <ion-card-content>
                <h1>{{ event.title }}</h1>
                <p>{{ event.location_name }}
                    <span *ngIf="event.location_address">, {{ event.location_address }}</span>
                    <span *ngIf="event.location_postal">, {{ event.location_postal }}</span>
                </p>

                <div class="body" *ngIf="event.description_html" [innerHTML]="event.description_html"></div>

                <div *ngIf="event.participants">
                    <ul class="participants">
                        <li *ngFor="let person of event.participants">
                            {{ person.name }}
                        </li>
                    </ul>
                </div>

                <div class="body" [innerHTML]="event.body_html"></div>

            </ion-card-content>
        </ion-card>

        <ion-card *ngIf="event.documents.length" class="body">
            <h2>Documents</h2>
            <ion-list>
                <a ion-item text-wrap *ngFor="let document of event.documents" (click)="showDocument(document.id)">
                    {{ document.name }}
                </a>
            </ion-list>
        </ion-card>
    </div>
</ion-content>
