<ion-header>
    <ion-navbar>
        <ion-title *ngIf="event">{{ event.title }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="event">
        <ion-card class="event-details">
            <ion-card-header>
                <h2><ion-icon name="ios-time-outline"></ion-icon> {{ event.time_from }}<span *ngIf="event.time_to"> - {{ event.time_to }}</span></h2>
            </ion-card-header>
            <ion-card-content>
                <h1>{{ event.title }}</h1>
                <p margin-top margin-bottom><ion-icon name="ios-pin-outline"></ion-icon> {{ event.location_name }}
                    <span *ngIf="event.location_address">, {{ event.location_address }}</span>
                    <span *ngIf="event.location_postal">, {{ event.location_postal }}</span>
                </p>

                <div class="body" *ngIf="event.description_html" [innerHTML]="event.description_html"></div>

                <div *ngIf="event.participants">
                    <ul class="participants">
                        <li *ngFor="let person of event.participants">
                            {{ person.name }}
                        </li>
                    </ul>
                </div>

                <div class="body" [innerHTML]="event.body_html"></div>

            </ion-card-content>
        </ion-card>

        <ion-card *ngIf="event.documents.length" class="body">
            <ion-card-header>
                <h2 class="card-title">Documents</h2>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <a ion-item text-wrap *ngFor="let document of event.documents" (click)="showDocument(document.id)">
                        <ion-icon name="document"></ion-icon> {{ document.name }}
                    </a>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card *ngIf="event.participants.length">
            <ion-card-header>
                <h2 class="card-title">Participants</h2>
            </ion-card-header>
            <ion-card-content>
                <a ion-item text-wrap *ngFor="let person of event.participants" (click)="showPerson(person.id)">
                    <ion-avatar item-start *ngIf="person.image;else elseBlock">
                        <img src="{{ globals.dataDirectory }}data/assets/{{ person.image }}">
                    </ion-avatar>
                    <ng-template #elseBlock>
                        <ion-icon name="contact" item-start></ion-icon>
                    </ng-template>

                    <h4 class="contact-name">{{ person.name }}</h4>
                    <p margin-bottom><strong>{{ person.title }}</strong></p>
                    <p class="contact-information" *ngIf="person.telephone != null"><ion-icon name="ios-call-outline"></ion-icon> {{ person.telephone }}</p>
                </a>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
