// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

h1 {
  font-size: 3rem !important;
  font-weight: 600 !important;
}

h2, h3, h4 {
  color: #1B46BC !important;
  margin-top: 1.5rem !important;
  margin-bottom: .5rem !important;
  font-weight: 600 !important;
}

h2 {
  font-size: 2rem !important;
}
h3 {
  font-size: 1.8rem !important;
}
h4 {
  font-size: 1.5rem !important;
}

.card-header h2 {
    margin: 0 !important;
}

.body {
  p {
    margin: 0 0 1.5rem 0;
  }
  p, li {
    color: #2d2d2d;
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
}