<ion-header>
    <ion-navbar>
        <ion-title *ngIf="day">{{ day.name }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div *ngIf="day">
        <ion-card *ngIf="!day.events.length">
            No itinerary specified
        </ion-card>

        <ion-card class="event-cards" *ngFor="let event of day.events" (click)="setEvent(event.id)">
            <ion-grid no-padding>
                <ion-row>
                <ion-col col-6 text-left><ion-icon name="ios-time-outline"></ion-icon> {{ event.time_from }}<span *ngIf="event.time_to"> - {{ event.time_to }}</span></ion-col>
                <ion-col col-6 text-right><ion-icon name="ios-pin-outline"></ion-icon> {{ event.location_name }}</ion-col>
                </ion-row>
            </ion-grid>
            <h1 class = "event-title">{{ event.title }}</h1>
            <div class="body" [innerHTML]="event.description_html"></div>
        </ion-card>
    </div>

</ion-content>

