<ion-header>
    <ion-navbar>
        <ion-title *ngIf="day">{{ day.name }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-list *ngIf="day">
            <a ion-item text-wrap *ngFor="let event of day.events" (click)="setEvent(event.id)">
                <p>{{ event.time_from }} - {{ event.time_to }}</p>
                <h2>{{ event.title }}</h2>
                <p>{{ event.location_name }}</p>
                <div [innerHTML]="event.description_html"></div>
            </a>
        </ion-list>
    </ion-card>
</ion-content>
]
