<ion-header>
    <ion-toolbar>
        <ion-buttons left start>
            <button ion-button icon-left (click)="goBack()">
                <ion-icon name="close"></ion-icon> Close
            </button>
        </ion-buttons>

        <ion-title>
            <span id="page-num"></span>/
            <span id="page-count"></span>
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-left id="page-prev" (click)="onPrevPage()" *ngIf="pageNum > 1">
                <ion-icon name="arrow-back"></ion-icon> Previous
            </button>
            <button ion-button icon-right id="page-next" (click)="onNextPage()" *ngIf="pageNum < numPages">
                Next <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-scroll zoom="true" scrollX="true" scrollY="true" maxZoom="5" style="width: 100%; height: 100vh;" id="scroll-container">
        <canvas id="doc-canvas" style="width: 100%;"></canvas>
    </ion-scroll>
</ion-content>
