page-days {
  .page-container {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%), url(../assets/images/meeting-bk.png) center center no-repeat;
    background-size: cover;
  }

  .days-container {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    .day-container {
      height: 25rem;
      width: 25rem;
      margin: 2rem;
      background: rgba(#ddd, 0.85);
      border: #555 8px solid;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
      color:#FFF;
      overflow: hidden;
      text-decoration: none;
      display: flex;
      align-items: center;
      .inner-container {
        width: 100%;
      }
      .day {
        display: block;
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        margin: 1rem;
        border-bottom: #BBB dashed 5px;
        text-shadow: 0px 0px 10px #555;
      }

      .date {
        font-weight: 500;
        font-size: 1.35rem;
        display: block;
        text-align: center;
        text-shadow: 0px 0px 10px #555;
      }
    }
  }
}
