<ion-header>
    <ion-toolbar>
        <ion-title>Schedule</ion-title>
        <ion-buttons end>
            <button ion-button icon-left (click)="goToSyncPage()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="header-image" *ngIf="trip">
        <div class="header-text">{{ trip.name }}</div>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <ion-card class="days-cards" *ngFor="let day of days" tappable (click)="goToDayPage(day.id)">
                    <span class="card-title"><h1>{{ day.name }}</h1></span>
                    <span class="card-footer"><ion-icon name="ios-calendar-outline"></ion-icon> {{ day.date }}</span>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>


